USE [master]
GO
/****** Object:  Database [20230622SP]    Script Date: 19/6/2023 17:40:19 ******/
CREATE DATABASE [20230622SP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'20230622SP', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\20230622SP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'20230622SP_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\20230622SP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [20230622SP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [20230622SP]
GO
/****** Object:  Table [dbo].[comidas]    Script Date: 19/6/2023 17:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comidas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_comida] [varchar](50) NOT NULL,
	[imagen] [varchar](256) NOT NULL,
 CONSTRAINT [PK_comidas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tickets]    Script Date: 19/6/2023 17:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empleado] [varchar](50) NOT NULL,
	[ticket] [varchar](128) NOT NULL,
 CONSTRAINT [PK_tickets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[comidas] ON 

INSERT [dbo].[comidas] ([id], [tipo_comida], [imagen]) VALUES (1, N'Hamburguesa_1', N'https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kQX3BMhy/200/200/original?country=ar')
INSERT [dbo].[comidas] ([id], [tipo_comida], [imagen]) VALUES (2, N'Hamburguesa_2', N'https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kQXnpmyG/200/200/original?country=ar')
INSERT [dbo].[comidas] ([id], [tipo_comida], [imagen]) VALUES (3, N'Hamburguesa_3', N'https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$krXm2g5T/200/200/original?country=ar')
SET IDENTITY_INSERT [dbo].[comidas] OFF
GO
USE [master]
GO
